<%= turbo_frame_tag item do %>
  <div class="row py-2 border-top">
    <div class="col-4 my-auto">
      <%= item.asin %>
    </div>
    <div class="col-4 my-auto">
      <%= item.title %>
    </div>
  </div>
<% end %>

